.facturacion-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.facturacion-cont h1 {
  text-align: center;
  font-size: 2.1em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #6d6d6d;
}
