@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

section {
  height: calc(90vh - 64px);
  padding: 10px;
}

/* CLIENT PAGE CSS */
.client-list {
  height: 85%;
  display: flex;
  overflow-x: scroll;
  padding: 10px;
}

.scan-button-cont {
  height: 15%;
  display: flex;
  align-items: center;
  align-items: left;
  padding: 10px;
}

.file-input {
  display: none;
}

.custom-file-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
}

.scan-button-cont button:active {
  transform: translateY(1px);
}

/* UTILS */
.backdrop {
  position: fixed; /* Cover the entire viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent black for visibility */
  z-index: 999; /* Ensure it sits below the date picker but above other content */
}

/* ANIMATIONS */

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInSlideUp {
  animation: fadeInSlideUp 0.3s ease-out forwards;
}

/* DayView CSS */

.tooltip-data-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  height: 75vh;
}

.category-box {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  min-width: 130px;
  max-width: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.category-box h3 {
  color: #333;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.data-entry {
  padding: 3px 0;
  font-size: 14px;
  color: #666;
}

/* Mobile and small devices */
@media (max-width: 640px) {
  .rdrDateRangePickerWrapper {
    width: 100% !important; /* Forces the picker to take full width */
    font-size: 12px; /* Smaller text to fit on mobile */
  }

  .rdrDefinedRangesWrapper,
  .rdrMonthAndYearWrapper {
    display: none; /* Optionally hides predefined ranges and the month/year selection on small screens */
  }

  .rdrCalendarWrapper {
    padding: 0 !important;
  }

  .day-cont {
    flex-direction: column;
  }
}
