@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

section {
  height: calc(90vh - 64px);
  padding: 10px;
}

/* CLIENT PAGE CSS */
.client-list {
  height: 85%;
  display: flex;
  overflow-x: scroll;
  padding: 10px;
}

.scan-button-cont {
  height: 15%;
  display: flex;
  align-items: center;
  align-items: left;
  padding: 10px;
}

.file-input {
  display: none;
}

.custom-file-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
}

.scan-button-cont button:active {
  transform: translateY(1px);
}
