@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

section {
  height: calc(90vh - 64px);
  padding: 10px;
}

/* CLIENT PAGE CSS */
.client-list {
  height: 85%;
  display: flex;
  overflow-x: scroll;
  padding: 10px;
}

.scan-button-cont {
  height: 15%;
  display: flex;
  align-items: center;
  align-items: left;
  padding: 10px;
}

.file-input {
  display: none;
}

.custom-file-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 2px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
}

.scan-button-cont button:active {
  transform: translateY(1px);
}

/* .rdrDateRangePickerWrapper {
  position: relative;
}

.rdrDateRangeWrapper {
  position: absolute;
  z-index: 10;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

/* Reports CSS */
.backdrop {
  position: fixed; /* Cover the entire viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent black for visibility */
  z-index: 999; /* Ensure it sits below the date picker but above other content */
}
/* Mobile and small devices */
@media (max-width: 768px) {
  .rdrDateRangePickerWrapper {
    width: 100% !important; /* Forces the picker to take full width */
    font-size: 12px; /* Smaller text to fit on mobile */
  }

  .rdrDefinedRangesWrapper,
  .rdrMonthAndYearWrapper {
    display: none; /* Optionally hides predefined ranges and the month/year selection on small screens */
  }

  .rdrCalendarWrapper {
    padding: 0 !important;
  }
}
